.card {
	border-radius: 2px;
	padding: 16px 16px 16px 16px;
	width: calc(98.66% - 32px);
	margin: auto;
	background: white;
	text-align: left;
}

.mainContent {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

#drawer {
	background-color: #e4e7e7;
}

paper-menu a {
	text-decoration: none;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	font-family: 'Roboto', 'Noto', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	min-height: 40px;
	padding: 0 16px;
}

.tab-content.paper-tab > a {
	height: 40%;
	text-decoration: none;
}

#bottomTabs {
	background-color: #00000000;
}


.link {
	padding: 0px 10px 5px 0;
	cursor: pointer;
	margin: 0px 5px 5px 0;
}

.link:hover {
	background-color: rgba(228, 228, 228, 0.64)
}

dl {
	width: 100%;
	padding: 0.5em;
}
dt {
	float: left;
	clear: left;
	width: 5%;
	text-align: right;
	font-weight: bold;
}
dt:after {
	content: ":";
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	width: 50%;
}
:root {
	height: 100%;
}

paper-header-panel {
	height: 100%;
}

.paper-header-panel {
	height: 100%;
}

paper-header-panel>#mainContainer {
	height: 100%;
}

paper-header-panel>#mainPanel {
	height: 100%;
}

#sections {
	height: -moz-calc(100% - 64px);
	height: -webkit-calc(100% - 64px);
	height: calc(100% - 64px);
}

.fullHeight {
	height: 100%;
}

.halfHeight {
	height: 50%;
}

.tab-content.paper-tab > a {
	height: 100%;
}
